name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  clang-format:
    name: Check Code Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install clang-format
        run: sudo apt-get install -y clang-format-17

      - name: Check formatting
        run: |
          find src -name '*.cpp' -o -name '*.h' | xargs clang-format-17 --dry-run --Werror
