name: Lint

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  clang-format:
    name: Check Code Formatting
    runs-on: ${{ fromJSON(vars.RUNNER_LINUX || '"ubuntu-24.04"') }}
    steps:
      - uses: actions/checkout@v4

      - name: Install clang-format
        run: sudo apt-get install -y clang-format

      - name: Check formatting
        run: |
          find src -name '*.cpp' -o -name '*.h' | xargs clang-format --dry-run --Werror
